@import "tailwindcss";

@theme {
  --color-primary: #122023;
  --color-accent: #e1fcad;
  --color-overlay: rgba(21, 32, 19, 0.7);

  --font-heading: "Rajdhani", sans-serif;
  --font-brand: "Poppins", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #122023;
    color: #ffffff;
    font-family: "Rajdhani", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
